**/*.gz
**/*.fa
**/*.fq
**/*.fasta
**/*.html
**/*.zip
**/*.swp
**/*.fna
**/*.amb
**/*.ann
**/*.bwt
**/*.pac
**/*.sa
**/*.gff
**/*.faa
**/*.fna
**/*.json
**/*.jsonl
**/*.sam
**/*.bam
**/README.md
5-1/readmapping.sorted
5-1/readmapping.sorted.bai
5-1/readmapping.stats
5-1/crubellaData/**/*
5-1/crubellaData/**/*
5-1/readmapping.stats
5-1/output/*
5-1/tview.txt
5-1/readmapping.sorted.bam.bai
5-1/voting.txt
**/*.bai
**/*.vcf
**/*.bcf
**/mapping/*
**/mappingGem/*
!**/snpEff_summary.html
**/*.log
**/*.bed
**/*.err
**/*.out
**/*.info
**/*.log0
**/genomecov
**/multicov
**/coverage
examScripts/*Index/
examScripts/output/*
examScripts/assembly/**/* 
examScripts/htseqCount/**/* 
examScripts/counts-bedtools.txt
